@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  font-family: "Manrope", sans-serif;
}

h1 {
  @apply font-bold uppercase  text-black;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}
h2 {
  @apply font-bold uppercase  text-black;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}
h3 {
  @apply font-bold uppercase  text-black;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}
h4 {
  @apply font-bold uppercase  text-black;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
h5 {
  @apply font-bold uppercase  text-black;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}
h6 {
  @apply font-bold uppercase  text-black;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  @apply uppercase text-lamb;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}

.subtitle {
  @apply font-bold uppercase text-lamb;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

p,
a,
li {
  @apply text-black;
  font-size: 15px;
  line-height: 25px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
