@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --foreground-text: #000;
}

* {
  font-family: "Manrope", sans-serif;
}

h1 {
  @apply font-bold uppercase text-3xl lg:text-[56px];
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  @apply font-bold uppercase;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}
h3 {
  @apply font-bold uppercase;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}
h4 {
  @apply font-bold uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
h5 {
  @apply font-bold uppercase;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}
h6 {
  @apply font-bold uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  @apply uppercase text-lamb;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}

.overline-gray {
  @apply uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}

.subtitle {
  @apply font-bold uppercase text-lamb;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

p,
a,
li {
  @apply opacity-75;
  font-size: 15px;
  line-height: 25px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-text: #fff;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    line-height: 40px;
  }
}

body {
  color: var(--foreground-text);
}
